.community {
	background: var(--color-white-90);
	padding-block: 2.25rem; /* 36/16 */
	@media (min-width: 767.98px) {
		padding-block: 6.375rem 2.5rem;
	}
	// .community__container

	&__container {
		position: relative;
	}

	// .community__section-header

	&__section-header {
		@media (min-width: 767.98px) {
			margin-block-end: 3.75rem; /* 60/16 */
		}
		@media (max-width: 767.98px) {
			margin-block-end: 1.5rem; /* 24/16 */
		}
	}

	// .community__swiper-community

	&__swiper-community {
		@media (min-width: 78.1238rem) {
			max-inline-size: 75rem;
		}
		@media (max-width: 71.2488rem) and (min-width: 47.9988rem) {
			max-inline-size: 46.5625rem;
		}
	}
	&__picture {
		position: absolute;
		inset-inline-start: 20.38%; /* 300/1472 */
		inset-block-end: -18.75rem;
		inline-size: 24.25rem;
		aspect-ratio: 435 / 343;
		opacity: 0;
		visibility: hidden;
		transition: all 1s;
		&.animate {
			inset-block-end: -12.5rem;
			opacity: 1;
			visibility: visible;
		}
		@media (max-width: 479.98px) {
			inset-block-end: -15.625rem;
			inline-size: 18.75rem;
			inset-inline-start: 5%;
			&.animate {
				inset-block-end: -9.375rem;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
